<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <listener>
        <listener-class>it.iit.genomics.cru.smith.utils.ContextListener</listener-class>
    </listener>
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
        <!--
        <param-value>Production</param-value>
        <param-value>Development</param-value>
        -->
    </context-param>
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>bootstrap</param-value>
    </context-param>
    <!-- installation parameter, local serves for testing purposes, remote is for production -->
    <context-param>
        <param-name>installation</param-name>
        <param-value>local</param-value>
        <!--
         <param-value>local</param-value>
         <param-value>remote</param-value>
         -->
    </context-param>
    <!-- analysis parameters -->
    <context-param>
        <param-name>remoterunfolder</param-name>
        <param-value>/scratch/lab_bsf/projects/BSF_runs/</param-value>
        <!--
        <param-value>/data/Illumina/Runs/</param-value>
        -->
    </context-param>
    <context-param>
        <param-name>remotefastqfolder</param-name>
        <param-value>/scratch/lab_bsf/samples/</param-value>
        <!--
        <param-value>/data/Illumina/PublicData/FASTQ/</param-value>  
        -->
    </context-param>
    <context-param>
        <param-name>remotebamfolder</param-name>
        <param-value>/scratch/lab_bsf/samples/</param-value>
        <!--
        <param-value>/data/Illumina/PublicData/BAM/</param-value>  
        -->
    </context-param>
    <context-param>
        <param-name>remotebigwigfolder</param-name>
        <param-value>/scratch/lab_bsf/samples/</param-value>
        <!--
        <param-value>/data/Illumina/PublicData/BIGWIG/</param-value>  
        -->
    </context-param>
    <context-param>
        <param-name>remotebedfolder</param-name>
        <param-value>/scratch/lab_bsf/samples/</param-value>
        <!--
        <param-value>/data/Illumina/PublicData/BED/</param-value>  
        -->
    </context-param>
    <context-param>
        <param-name>remotesamplesheetfolder</param-name>
        <param-value>/scratch/lab_bsf/projects/BSF_runs/libraries/</param-value>
        <!--
        <param-value>/home/hmuller/workdir_smith/Samplesheets/</param-value> 
        /home/glassfish/workdir_smith/ 
        -->
    </context-param>
    <context-param>
        <param-name>remoteworkdir</param-name>
        <param-value>/scratch/lab_bsf/projects/BSF_runs/</param-value>
        <!--
         /home/hmuller/glassfish3/glassfish/domains/domain1/applications/smith/upload/
         <param-value>/home/hmuller/glassfishb1p2/glassfish/domains/domain1/applications/smith/upload/</param-value>
         /home/hmuller/workdir_smith/
         /home/glassfish/workdir_smith/
         -->
    </context-param>
    <context-param>
        <param-name>remotegalaxyscriptpath</param-name>
        <param-value>/home/hmuller/glassfish3/glassfish/domains/domain1/applications/smith/galaxy/smith_run_workflow.py</param-value>
        <!--
         <param-value>/home/hmuller/glassfishb1p2/glassfish/domains/domain1/applications/smith/galaxy/smith_run_workflow.py</param-value>
         -->
    </context-param>
    <context-param>
        <param-name>remotemonitoringcutoffdate</param-name>
        <param-value>171101</param-value>
    </context-param>
    <context-param>
        <param-name>remotescratchdir</param-name>
        <param-value>/home/glassfish/scratch/</param-value>
        <!--
         /home/glassfish/
         -->
    </context-param>
    <context-param>
        <param-name>remotefastqcexecpath</param-name>
        <param-value>/opt/cluster/bin/fastqc --casava -t 8</param-value>
    </context-param>
    <context-param>
        <param-name>remotebcltofastqexecpath</param-name>
        <param-value>/usr/bin/perl /opt/cluster/bin/configureBclToFastq.pl --input-dir=</param-value>
    </context-param>
    <context-param>
        <param-name>remotemismatches</param-name>
        <param-value>0</param-value>
    </context-param>
    <context-param>
        <param-name>remotefastqhyperlink</param-name>
        <param-value>http://localhost/data/FASTQ/</param-value>
    </context-param>
    <context-param>
        <param-name>remoteexecuterpathflowcellA</param-name>
        <param-value>http://login.hpc.cemm.at:9092/TimerServlet</param-value>
        <!--
         <param-value>http://blade-b1-p2.iit.ieo.eu:8081/Bash/Executer</param-value>
         <param-value>http://login.hpc.cemm.at:9092/TimerServlet</param-value>
         -->
    </context-param>
    <context-param>
        <param-name>remoteexecuterpathflowcellB</param-name>
        <param-value>http://login.hpc.cemm.at:9092/TimerServlet</param-value>
        <!--
         <param-value>http://hilt.iit.ieo.eu:8080/Bash/Executer</param-value>
         <param-value>http://login.hpc.cemm.at:9092/TimerServlet</param-value>
         -->
    </context-param>
    <context-param>
        <param-name>remoterunfolderscaninterval</param-name>
        <param-value>30</param-value>
        <!--
        interval in minutes
        <param-value>30</param-value>
         -->
    </context-param>
    
    
    
    
    <context-param>
        <param-name>localrunfolder</param-name>
        <param-value>/C:/Temp/Runs/</param-value>
        <!--
        <param-value>/home/hmueller/Temp/Runs/</param-value>
        <param-value>/C:/Temp/Runs/</param-value>
        -->
    </context-param>
    <context-param>
        <param-name>localfastqfolder</param-name>
        <param-value>/C:/Temp/FASTQ/</param-value>
        <!--
        <param-value>/C:/Temp/FASTQ/</param-value>  
        <param-value>/home/hmueller/Temp/FASTQ/</param-value>  
        -->
    </context-param>
    <context-param>
        <param-name>localbamfolder</param-name>
        <param-value>/C:/Temp/BAM/</param-value>
        <!--
         <param-value>/C:/Temp/BAM/</param-value>  
         <param-value>/home/hmueller/Temp/BAM/</param-value>  
        -->
    </context-param>
    <context-param>
        <param-name>localbigwigfolder</param-name>
        <param-value>/C:/Temp/BIGWIG/</param-value>
        <!--
         <param-value>/C:/Temp/BIGWIG/</param-value>   
         <param-value>/home/hmueller/Temp/BIGWIG/</param-value>      
        -->
    </context-param>
    <context-param>
        <param-name>localbedfolder</param-name>
        <param-value>/C:/Temp/BED/</param-value>
        <!--
         <param-value>/C:/Temp/BED/</param-value> 
         <param-value>/home/hmueller/Temp/BED/</param-value>
        -->
    </context-param>
    <context-param>
        <param-name>localsamplesheetfolder</param-name>
        <param-value>/C:/Temp/Runs/libraries/</param-value>
        <!--
         <param-value>/C:/Temp/Samplesheets/</param-value>
         <param-value>/home/hmueller/Temp/Samplesheets/</param-value>
        -->
    </context-param>
    <context-param>
        <param-name>localworkdir</param-name>
        <param-value>/C:/Temp/Runs/</param-value>
        <!--
         <param-value>/home/hmueller/temp/work/</param-value>
         <param-value>/C:/temp/work/</param-value>
        -->
    </context-param>
    <context-param>
        <param-name>localgalaxyscriptpath</param-name>
        <param-value>/C:/Temp/GALAXY/smith_run_workflow.py</param-value>
        <!--
         <param-value>/home/hmueller/Temp/GALAXY/smith_run_workflow.py</param-value>
         <param-value>/C:/Temp/GALAXY/smith_run_workflow.py</param-value>
        -->
    </context-param>
    <context-param>
        <param-name>localmonitoringcutoffdate</param-name>
        <param-value>171101</param-value>
        <!--
         
        -->
    </context-param>
    <context-param>
        <param-name>localscratchdir</param-name>
        <param-value>/C:/temp/scratch/</param-value>
        <!--
         <param-value>/home/hmueller/temp/scratch/</param-value>
         <param-value>/C:/temp/scratch/</param-value>
        -->
    </context-param>
    <context-param>
        <param-name>localfastqcexecpath</param-name>
        <param-value>/opt/cluster/bin/fastqc --casava -t 8</param-value>
    </context-param>
    <context-param>
        <param-name>localbcltofastqexecpath</param-name>
        <param-value>/usr/bin/perl /opt/cluster/bin/configureBclToFastq.pl --input-dir=</param-value>
    </context-param>
    <context-param>
        <param-name>localmismatches</param-name>
        <param-value>1</param-value>
    </context-param>
    <context-param>
        <param-name>localfastqhyperlink</param-name>
        <param-value>http://hilt.iit.ieo.eu/data/FASTQ/</param-value>
    </context-param>
    <context-param>
        <param-name>localexecuterpathflowcellA</param-name>
        <param-value>http://localhost:9092/TimerServlet</param-value>
        <!--
         <param-value>http://login.hpc.cemm.at:9092/TimerServlet</param-value>
         -->
    </context-param>
    <context-param>
        <param-name>localexecuterpathflowcellB</param-name>
        <param-value>http://localhost:9092/TimerServlet</param-value>
        <!--
         <param-value>http://login.hpc.cemm.at:9092/TimerServlet</param-value>
         -->
    </context-param>
    <context-param>
        <param-name>localrunfolderscaninterval</param-name>
        <param-value>3</param-value>
        <!--
        interval in minutes
        <param-value>30</param-value>
         -->
    </context-param>
    
    
    
    
    
    <!-- mail parameters -->
    <context-param>
        <param-name>subjectRequestReceived</param-name>
        <param-value>Your NGS request -&gt; requestIDs</param-value>
    </context-param>
    <context-param>
        <param-name>subjectFastQReadyAlert</param-name>
        <param-value>Your new NGS data are now available</param-value>
    </context-param>
    <context-param>
        <param-name>sentByMailAddress</param-name>
        <param-value>b@a</param-value>
        <!--
         bsf@cemm.oeaw.ac.at
         -->
    </context-param>
    <context-param>
        <param-name>sentByUnitName</param-name>
        <param-value>BSF</param-value>
    </context-param>
    <context-param>
        <param-name>smtpServer</param-name>
        <param-value>srv</param-value>
        <!--
         your smtp server
         -->
    </context-param>
    <context-param>
        <param-name>primefaces.UPLOADER</param-name>
        <param-value>commons</param-value>
        <!--
        <param-value>auto|native|commons</param-value>
        -->
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <!--
    <servlet>
        <description>Timer</description>
        <servlet-name>TimerServlet</servlet-name>
        <servlet-class>it.iit.genomics.cru.smith.utils.TimerServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>    -->
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
        <url-pattern>*.jsf</url-pattern>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <!--
    <servlet-mapping>
        <servlet-name>TimerServlet</servlet-name>
        <url-pattern>/TimerServlet</url-pattern>
    </servlet-mapping>   --> 
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
        <init-param>
            <param-name>uploadDirectory</param-name>
            <param-value>/C:/temp/work/</param-value>
            <!--
        <param-value>/opt/glassfish4/glassfish/domains/bsfdb/applications/smith/upload/</param-value>
        <param-value>/C:/temp/work/</param-value>
        <param-value>/home/hmuller/glassfish3/glassfish/domains/domain1/applications/smith/upload/</param-value>
        <param-value>/home/hmueller/temp/work/</param-value>
        <param-value>/C:/Users/hmueller/Documents/NetBeansProjects/smith_160309/smith/target/smith-1.0-SNAPSHOT/upload</param-value>
        -->
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
    </filter-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/error404.xhtml</location>
    </error-page>
    <error-page>
        <error-code>401</error-code>
        <location>/error401.xhtml</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error500.xhtml</location>
    </error-page>
    <security-constraint>
        <display-name>Constraint1</display-name>
        <web-resource-collection>
            <web-resource-name>smith</web-resource-name>
            <description>smith</description>
            <url-pattern>/Sample/*</url-pattern>
            <url-pattern>/Project/*</url-pattern>
            <url-pattern>/Run/*</url-pattern>
            <url-pattern>/Flowcell/*</url-pattern>
            <url-pattern>/SamplesSheet/*</url-pattern>
            <url-pattern>/Data/*</url-pattern>
            <url-pattern>/User/*</url-pattern>
            <url-pattern>/Reagent/*</url-pattern>
            <url-pattern>/upload/*</url-pattern>
            <url-pattern>/galaxy/*</url-pattern>
            <url-pattern>/img/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Auth</description>
            <role-name>admin</role-name>
            <role-name>user</role-name>
            <role-name>guest</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>file</realm-name>
        <!--
        <realm-name>ldapRealm</realm-name>
        <realm-name>file</realm-name>
        -->
    </login-config>
    <security-role>
        <description>admin</description>
        <role-name>admin</role-name>
    </security-role>
    <security-role>
        <description>user</description>
        <role-name>user</role-name>
    </security-role>
</web-app>
